{% extends "billing/base.html" %}
{% block content %}
<h1>Tenants</h1>
<table class="table">
  <thead>
    <tr><th>Name</th><th>Phone</th><th>Houses</th></tr>
  </thead>
  <tbody>
  {% for t in tenants %}
    <tr>
      <td>{{ t.first_name }} {{ t.last_name }}</td>
      <td>{{ t.phone }}</td>
      <td>
        <ul>
        {% for h in t.houses.all %}
          <li>{{ h.house_number }} {{ h.street_name }}</li>
        {% empty %}
          <li>No houses</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}